<div class="custom-metric-container">
    <div class="row">
        <div class="col-lg-3 gender-image-container">
            <div class="row">
                <img src="components/analytica/img/male.png">
            </div>
            <div class="row countup">
                <span id="male-count-{{id}}"></span>
            </div>
        </div>
        <div class="col-lg-6 gender-chart-container">
            <div id="gender-composition-{{id}}"></div>
        </div>
        <div class="col-lg-3 gender-image-container">
            <div class="row">
                <img src="components/analytica/img/female.png">
            </div>
            <div class="row countup">
                <span id="female-count-{{id}}"></span>
            </div>
        </div>
    </div>
</div>